<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="demo signal">
  <h2>Signals:</h2>
  <p>Counter: {{ counter() }}</p>
  <p>Counter Srv: {{ signalsSrv.counter() }}</p>
  <p>derivedCounter: {{ derivedCounter() }}</p>
  <button (click)="increment()">Increment</button>
  <button (click)="signalsSrv.increment()">Increment srv</button>
</div>

<div class="demo">
  <h2>pipes:</h2>
  <p>number: {{ numb | number : "2.3-5" }}</p>
  <p>vedi slice</p>
  <p>vedi keyvalue per ciclare chiavi e valori di un oggetto</p>
</div>

<div class="courses">
  @for (course of courses | slice : 0 : 6; track course?.id ) {

  <course-card
    (courseClick)="viewCourse($event)"
    [course]="course"
    [class.is-last]="$last"
    [class.is-first]="$first"
    [class.is-odd]="$odd"
    [class.is-even]="$first"
    [index]="$index"
  />
  }@empty {
  <h1>No Courses Found</h1>
  }
</div>
